<head>
    <!--Meta-->
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Custom CSS -->
    <link rel="stylesheet" href="../css/style.css">
  </head>
  
  <div>
      <section id="highlight-post" class="container-fluid d-flex flex-column justify-content-end p-5" style="background-color:darkgray">
        <span class="hl-post-date">10 de Outubro de 2021</span>
        <a class="cursor-pointer text-decoration-none"><span class="hl-post-title">Conheça as tendências que cresceram no mundo dos negócios</span></a>    
     </section>
     <div class="row p-5">
        <div class="col-12 col-md-4 d-flex flex-column">
            <a class="cursor-pointer"><div style="height:175px; background-color: black;"></div></a>
            <span class="m-3" style="color: #2f2E2E; font-size: 12px;">ha 1 dia</span>
            <span class="cursor-pointer fw-bold mx-3 mb-3" style="color: rgb(47, 46, 46);font-size:18px;">Dia do Consumidor para Lojistas: 8 dicas para engajar e faturar mais há 1 dia Dia do Consumidor para Lojistas: 8 dicas para engajar e faturar mais</span>
        </div>
        <div class="col-12 col-md-4 d-flex flex-column">
            <a class="cursor-pointer"><div style="height:175px; background-color: black;"></div></a>
            <span class="m-3" style="color: #2f2E2E; font-size: 12px;">ha 1 dia</span>
            <span class="cursor-pointer fw-bold mx-3 mb-3" style="color: rgb(47, 46, 46);font-size:18px;">Dia do Consumidor para Lojistas: 8 dicas para engajar e faturar mais há 1 dia Dia do Consumidor para Lojistas: 8 dicas para engajar e faturar mais</span>
        </div>
        <div class="col-12 col-md-4 d-flex flex-column">
            <a class="cursor-pointer"><div style="height:175px; background-color: black;"></div></a>
            <span class="m-3" style="color: #2f2E2E; font-size: 12px;">ha 1 dia</span>
            <span class="cursor-pointer fw-bold mx-3 mb-3" style="color: rgb(47, 46, 46);font-size:18px;">Dia do Consumidor para Lojistas: 8 dicas para engajar e faturar mais há 1 dia Dia do Consumidor para Lojistas: 8 dicas para engajar e faturar mais</span>
        </div>
        <div class="col-12 col-md-4 d-flex flex-column">
            <a class="cursor-pointer"><div style="height:175px; background-color: black;"></div></a>
            <span class="m-3" style="color: #2f2E2E; font-size: 12px;">ha 1 dia</span>
            <span class="cursor-pointer fw-bold mx-3 mb-3" style="color: rgb(47, 46, 46);font-size:18px;">Dia do Consumidor para Lojistas: 8 dicas para engajar e faturar mais há 1 dia Dia do Consumidor para Lojistas: 8 dicas para engajar e faturar mais</span>
        </div>
        <div class="col-12 col-md-4 d-flex flex-column">
            <a class="cursor-pointer"><div style="height:175px; background-color: black;"></div></a>
            <span class="m-3" style="color: #2f2E2E; font-size: 12px;">ha 1 dia</span>
            <span class="cursor-pointer fw-bold mx-3 mb-3" style="color: rgb(47, 46, 46);font-size:18px;">Dia do Consumidor para Lojistas: 8 dicas para engajar e faturar mais há 1 dia Dia do Consumidor para Lojistas: 8 dicas para engajar e faturar mais</span>
        </div>
        <div class="col-12 col-md-4 d-flex flex-column">
            <a class="cursor-pointer"><div style="height:175px; background-color: black;"></div></a>
            <span class="m-3" style="color: #2f2E2E; font-size: 12px;">ha 1 dia</span>
            <span class="cursor-pointer fw-bold mx-3 mb-3" style="color: rgb(47, 46, 46);font-size:18px;">Dia do Consumidor para Lojistas: 8 dicas para engajar e faturar mais há 1 dia Dia do Consumidor para Lojistas: 8 dicas para engajar e faturar mais</span>
        </div>
        <div class="col-12 col-md-4 d-flex flex-column">
            <a class="cursor-pointer"><div style="height:175px; background-color: black;"></div></a>
            <span class="m-3" style="color: #2f2E2E; font-size: 12px;">ha 1 dia</span>
            <span class="cursor-pointer fw-bold mx-3 mb-3" style="color: rgb(47, 46, 46);font-size:18px;">Dia do Consumidor para Lojistas: 8 dicas para engajar e faturar mais há 1 dia Dia do Consumidor para Lojistas: 8 dicas para engajar e faturar mais</span>
        </div>
        <div class="col-12 col-md-4 d-flex flex-column">
            <a class="cursor-pointer"><div style="height:175px; background-color: black;"></div></a>
            <span class="m-3" style="color: #2f2E2E; font-size: 12px;">ha 1 dia</span>
            <span class="cursor-pointer fw-bold mx-3 mb-3" style="color: rgb(47, 46, 46);font-size:18px;">Dia do Consumidor para Lojistas: 8 dicas para engajar e faturar mais há 1 dia Dia do Consumidor para Lojistas: 8 dicas para engajar e faturar mais</span>
        </div>
        <div class="col-12 col-md-4 d-flex flex-column">
            <a class="cursor-pointer"><div style="height:175px; background-color: black;"></div></a>
            <span class="m-3" style="color: #2f2E2E; font-size: 12px;">ha 1 dia</span>
            <span class="cursor-pointer fw-bold mx-3 mb-3" style="color: rgb(47, 46, 46);font-size:18px;">Dia do Consumidor para Lojistas: 8 dicas para engajar e faturar mais há 1 dia Dia do Consumidor para Lojistas: 8 dicas para engajar e faturar mais</span>
        </div>
     </div>
  </div>