<head>
    <!--Meta-->
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Custom CSS -->
    <link rel="stylesheet" href="../css/style.css">
  </head>
  <footer style="background-color: 	D3D3D3; padding: 4rem 2rem; display: flex;flex-direction:column;color: #888888;">
      <ul   style="list-style-type: none; display: grid;grid-template-columns: repeat(12, minmax(0, 1fr));padding:0;margin:0px;">
        <li style="	grid-column: span 3 / span 3;">
            <ul style="list-style-type: none;display: flex; flex-direction:column;">
              <li><h2><span style="color: black;">INVENTA</span></h2></li>
              <li style="margin-bottom: 1rem;"><span>@ 2021</span></li>
              <li style="margin-bottom: 1rem;"><a style="cursor: pointer;"><span>Política de Privacidade</span></a></li>
              <li><a style="cursor: pointer;"><span>Termos e condições</span></a></li>
            </ul>
          </li>
          <li style="grid-column: span 9 / span 9;">
            <ul style="list-style-type: none;display: grid;grid-template-columns: repeat(12, minmax(0, 1fr));">
              <li style="	grid-column: span 3 / span 3;">
                <ul style="list-style-type: none;display: flex; flex-direction:column;">
                  <li style="margin-bottom: 1rem;"><a style="cursor: pointer;"><h3><span style="color: black;">Produtos</span></h3></a></li>
                  <li style="margin-bottom: 1rem;"><a style="cursor: pointer;"><span>Fornecedores</span></a></li>
                  <li><a style="cursor: pointer;"><span>Varejista</span></a></li>
                </ul>
              </li>
              <li style="	grid-column: span 3 / span 3;">
                <ul style="list-style-type: none;display: flex; flex-direction:column;">
                  <li style="margin-bottom: 1rem;"><a style="cursor: pointer;"><h3><span style="color: black;">Inventa</span></h3></a></li>
                  <li style="margin-bottom: 1rem;"><a style="cursor: pointer;"><span>Sobre</span></a></li>
                  <li style="margin-bottom: 1rem;"><a style="cursor: pointer;"><span>Missão</span></a></li>
                  <li><a style="cursor: pointer;"><span>Oportunidades</span></a></li>
                </ul>
              </li>
              <li style="	grid-column: span 3 / span 3;">
                <ul style="list-style-type: none;display: flex; flex-direction:column;">
                  <li style="margin-bottom: 1rem;"><a style="cursor: pointer;"><h3><span style="color: black;">Suporte</span></h3></a></li>
                  <li style="margin-bottom: 1rem;"><a style="cursor: pointer;"><span>FAQ</span></a></li>
                  <li style="margin-bottom: 1rem;"><a style="cursor: pointer;"><span>Ajuda Fornecedor</span></a></li>
                  <li><a style="cursor: pointer;"><span>Ajuda Varejista</span></a></li>
                </ul>
              </li>
              <li style="	grid-column: span 3 / span 3;">
                <ul style="list-style-type: none;display: flex; flex-direction:column;">
                  <li style="margin-bottom: 1rem;"><a style="cursor: pointer;"><h3><span style="color: black;">Acompanhe</span></h3></a></li>
                  <li style="margin-bottom: 1rem;"><a style="cursor: pointer;"><span>Linkenid</span></a></li>
                  <li style="margin-bottom: 1rem;"><a style="cursor: pointer;"><span>Instagram</span></a></li>
                  <li style="margin-bottom: 1rem;"><a style="cursor: pointer;"><span>Facebook</span></a></li>
                  <li><a style="cursor: pointer;"><span>Blog</span></a></li>
                </ul>
              </li>
            </ul>
          </li>
      </ul>
      <small style="padding:1rem 2rem; font-size:0.75rem;margin-top:1.5rem;">Inventa App Ltda - CNPJ: 41.356.168/0001-11 | Inscrição Estadual: 131.409.133.112 | Av. Paulista, 302 - São Paulo - SP, 01310-000| contato@inventa.shop</small>
  </footer>