
<head>
    <!--Meta-->
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Custom CSS -->
    <link rel="stylesheet" href="../css/style.css">
  </head>
  
  <footer id="section-footer" data-section-id="footer" data-section-type="footer" role="contentinfo"> 
    <div class="container p-5"><div class="row"><div class="col-12 col-md-3 offset-md-1 col-lg-3 mb-2">      
                <div>
                  <a href="/" class="display-5 fs-1 fw-light logo text-dark">
                    <span>INVENTA</span>
                  </a>
                  <div class="d-none d-md-block"> 
                    <p>© 2022<br><a href="/pages/politica-de-privacidade" title="Política de Privacidade">Política de privacidade</a></p><p><a href="/pages/termos-e-condicoes-fornecedores" title="Termos e Condições Fornecedores">Termos e condições fornecedores</a></p><p><a href="/pages/termos-e-condicoes-lojistas" title="Termos e Condições Lojistas">Termos e condições lojistas</a></p>
                  </div>
                </div>
              </div><div class="col-12 col-md-2 mb-lg-2 mt-lg-0 my-3 ">
                  <button class="fw-bold py-2 w-100 text-start border-0" aria-expanded="false" aria-controls="block-footer-1" data-action="toggle-collapsible" disabled="disabled">
                    <a href="/" class="text-dark">Soluções</a> 
                    <span class="plus-button d-md-none float-end"></span>
                  </button><div id="block-footer-1" class="footer__collapsible">
                      <div class="footer__collapsible-content">
                        <ul class="footer__linklist list--unstyled" role="list"><li>
                              <a href="/pages/fornecedor" class="footer__link-item link py-2">Fornecedor</a>
                            </li><li>
                              <a href="/#beneficios-inventa" class="footer__link-item link py-2">Lojista</a>
                            </li><li>
                              <a href="/collections/marcas" class="footer__link-item link py-2">Nosso Portal</a>
                            </li></ul>
                      </div>
                    </div></div><div class="col-12 col-md-2 mb-lg-2 mt-lg-0 my-3 ">
                  <button class="fw-bold py-2 w-100 text-start border-0" aria-expanded="false" aria-controls="block-footer-1" data-action="toggle-collapsible" disabled="disabled" style="background: transparent;">
                    <a href="/pages/sobre-inventa" class="text-dark">Inventa</a> 
                    <span class="plus-button d-md-none float-end"></span>
                  </button><div id="block-footer-1" class="footer__collapsible" style="height: 0px;">
                      <div class="footer__collapsible-content">
                        <ul class="footer__linklist list--unstyled" role="list"><li>
                              <a href="/pages/sobre-inventa" class="footer__link-item link py-2">Sobre a Inventa</a>
                            </li></ul>
                      </div>
                    </div></div><div class="col-12 col-md-2 mb-lg-2 mt-lg-0 my-3 ">
                  <button class="fw-bold py-2 w-100 text-start border-0" aria-expanded="false" aria-controls="block-footer-1" data-action="toggle-collapsible" disabled="disabled" style="background: transparent;">
                    <a href="/pages/contato" class="text-dark">Suporte</a> 
                    <span class="plus-button d-md-none float-end"></span>
                  </button><div id="block-footer-1" class="footer__collapsible">
                      <div class="footer__collapsible-content">
                        <ul class="footer__linklist list--unstyled" role="list"><li>
                              <a href="/pages/fornecedor#faq" class="footer__link-item link py-2">FAQ Fornecedor</a>
                            </li><li>
                              <a href="https://inventa.shop/#faq" class="footer__link-item link py-2">FAQ Lojista</a>
                            </li><li>
                              <a href="/pages/contato" class="footer__link-item link py-2">Contato</a>
                            </li></ul>
                      </div>
                    </div></div><div class="col-12 col-md-2 mb-lg-2 mt-lg-0 my-3 ">
                  <button class="fw-bold py-2 w-100 text-start border-0" aria-expanded="false" aria-controls="block-footer-1" data-action="toggle-collapsible" disabled="disabled" style="background: transparent;">
                    <a href="https://www.linkedin.com/company/inventashop/" class="text-dark" target="_blank" rel="noopener" aria-describedby="a11y-new-window-message">Acompanhe</a> 
                    <span class="plus-button d-md-none float-end"></span>
                  </button><div id="block-footer-1" class="footer__collapsible">
                      <div class="footer__collapsible-content">
                        <ul class="footer__linklist list--unstyled" role="list"><li>
                              <a href="https://www.linkedin.com/company/inventashop/" class="footer__link-item link py-2" target="_blank" rel="noopener" aria-describedby="a11y-new-window-message">LinkedIn</a>
                            </li><li>
                              <a href="https://www.instagram.com/inventa.shop" class="footer__link-item link py-2" target="_blank" rel="noopener" aria-describedby="a11y-new-window-message">Instagram</a>
                            </li><li>
                              <a href="https://www.facebook.com/inventa.shop" class="footer__link-item link py-2" target="_blank" rel="noopener" aria-describedby="a11y-new-window-message">Facebook</a>
                            </li></ul>
                      </div>
                    </div></div><div class="col-12 col-md-2 mb-lg-2 mt-lg-0 my-3 d-md-none">
                  <button class="fw-bold py-2 w-100 text-start border-0" aria-expanded="false" aria-controls="block-footer-1" data-action="toggle-collapsible" disabled="disabled" style="background: transparent;">
                    <a href="/pages/politica-de-privacidade" class="text-dark">Políticas</a> 
                    <span class="plus-button d-md-none float-end"></span>
                  </button><div id="block-footer-1" class="footer__collapsible">
                      <div class="footer__collapsible-content">
                        <ul class="footer__linklist list--unstyled" role="list"><li>
                              <a href="/pages/politica-de-privacidade" class="footer__link-item link py-2">Política de Privacidade</a>
                            </li><li>
                              <a href="/pages/termos-e-condicoes-fornecedores" class="footer__link-item link py-2">Termos e Condições Fornecedores</a>
                            </li><li>
                              <a href="/pages/termos-e-condicoes-lojistas" class="footer__link-item link py-2">Termos e Condições Lojistas</a>
                            </li></ul>
                      </div>
                    </div></div><div class="col-12 offset-md-1 mt-3">
            <small>Inventa App Ltda - CNPJ: 41.356.168/0001-11 | Inscrição Estadual: 131.409.133.112&nbsp;|&nbsp;<address class="d-inline">Av. Paulista, 302, 01310-000 - São Paulo - SP</address>&nbsp;|&nbsp;<a href="mailto:contato@inventa.shop" target="_blank" rel="noopener" aria-describedby="a11y-new-window-message">contato@inventa.shop</a></small>
          </div>
</footer>