<head>
    <!--Meta-->
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Custom CSS -->
    <link rel="stylesheet" href="../css/style.css">
  </head>

  <nav class="navbar navbar-expand-lg navbar-dark bg-dark sticky-top">
  <div class="container-fluid px-md-3">
    <div class="row w-100">
      <button class="d-lg-none navbar-toggler col-2 col-sm-1 collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <a class="text-white fs-1 col-6 col-lg-2 pt-1 pt-sm-0 logo" style="letter-spacing: 0.5rem;text-decoration: none; font-weight:200;" href="/">
        <span>INVENTA</span>
      </a>
      <!-- <a class="col-4 col-sm-4 d-lg-none offset-sm-1 px-0 d-flex justify-content-center justify-content-sm-end align-items-center landingPage-loginBtn" href="#">
        <div class="btn btn-warning py-2 px-2 px-sm-3 fw-bold fs-small">
          <span>Acesso Lojista</span>
        </div>
      </a> !-->
      <div class="navbar-collapse ms-lg-5 collapse flex-shrink-1 justify-content-between col-lg-9" id="navbarNav">
        <!-- <div class="row"> -->
          <ul class="navbar-nav justify-content-between d-flex"><li class="nav-item me-3">
    	          <a class="nav-link text-nowrap cursor-pointer">Lojista</a>
    	        </li><li class="nav-item me-3">
    	          <a class="nav-link text-nowrap cursor-pointer" >Fornecedor</a>
    	        </li><li class="nav-item me-3">
    	          <a class="nav-link text-nowrap cursor-pointer" >Sobre a Inventa</a>
    	        </li><li class="nav-item me-3">
    	          <a class="nav-link text-nowrap cursor-pointer">Contato</a>
    	        </li><li class="nav-item me-3">
    	          <a class="nav-link text-nowrap text-warning border-bottom border-warning cursor-pointer" href="https://www.blog.inventa.shop/" target="_blank" rel="noopener" aria-describedby="a11y-new-window-message">Blog</a>
    	        </li></ul>
          <div class="col-7 col-md-4 col-lg-6 col-xl-5 text-end">
            <a id="header_fornecedor-panel" href="https://fornecedor.inventa.app.br/" class="btn btn-outline-secondary py-2 px-xl-3 fw-bold my-3 mb-sm-0 d-block d-lg-inline-block mt-lg-0" target="_blank" rel="noopener" aria-describedby="a11y-new-window-message">
            	<span>Painel Fornecedor</span>
            </a>
        </div>
      </div>
    <!-- </div> -->
  </div></nav>