<head>
    <!--Meta-->
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Custom CSS -->
    <link rel="stylesheet" href="../css/style.css">
  </head>
  <body>
    <nav style="background-color: rgba(47,46,46); padding: 1rem;">
      <ul style="list-style: none; margin: 0; padding: 0;display: flex; flex-direction: column;">
        <li>
          <h1 style="font-size: 30px;letter-spacing:0.35em;color: white; margin-right:auto; cursor: pointer">
            <a>INVENTA</a>
          </h1>
        </li>
        <li>
          <a>
            <span style="color: #C4C4C4; margin-right: 30px;cursor: pointer;">
              Logista
            </span>
          </a> 
        </li>
        <li>
          <a>
            <span style="color: #C4C4C4; margin-right: 30px;cursor: pointer;">
              Fornecedor
            </span>
          </a> 
        </li>
        <li>
          <a>
            <span style="color: #C4C4C4; margin-right: 30px;cursor: pointer;">
              Sobre a Inventa
            </span>
          </a> 
        </li>
        <li>
          <a>
            <span style="color: #C4C4C4; margin-right: 30px; cursor: pointer;">
              Contancto
            </span>
          </a> 
        </li>
        <li>
          <a>
            <span style="color: #DDAA2E;cursor: pointer;">
              Blog
            </span>
          </a> 
        </li>
      </ul>
    </nav>
  </body>
  
  