/*
  Theme Name:   Inventa-blog
  Description:  Blog para inventa
  Author:       Inventa
  Template:     generatepress
  Version: 1.0
*/

:root {
  --primary-color: #1277c3;
  --secondary-color: #006dbf;
}

.cs-color-primary{
  background-color: var(--primary-color);
}

.cs-color-secondary{
  background-color: var(--secondary-color);
}

.cursor-pointer {
  cursor: pointer;
}

.cs-color-text{
  color: #2a3858;
}

.cs-bg-gradient{
  background: rgb(6,60,115);
  background: linear-gradient(0deg, rgba(6,60,115,1) 0%, rgba(4,100,166,1) 100%);
}

.cs-border-rounded{
  border-radius: 50px;
}

.cs-border-rounded-form{
  border-radius: 15px;
}

.carousel-item div img{
    height: 200px;
    width: 15%;
}

@media screen and (max-width: 768px) {
  .carousel-item div img{
    width: 50%;
  }
}

.cs-search-container-icon{
  height: 35px;
  width: 35px;
}

.cs-search-icon-bg{
  position: absolute;
  z-index: 2;
  background-color: white;
  top: 0px;
  right: 0px;
  bottom: 0px;
  left: 0px;
}

.cs-search-container-icon .bi-search{
  z-index: 1;
  color: white;
  font-size: 1.2rem;
}

.cs-search-input::placeholder{
  color: white;
}

.cs-search-input::-webkit-search-cancel-button{
  -webkit-appearance: none;
  width: 20px;
  height: 20px;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='25' height='25' fill='white' class='bi bi-x' viewBox='0 0 16 16'%3E%3Cpath d='M4.646 4.646a.5.5 0 0 1 .708 0L8 7.293l2.646-2.647a.5.5 0 0 1 .708.708L8.707 8l2.647 2.646a.5.5 0 0 1-.708.708L8 8.707l-2.646 2.647a.5.5 0 0 1-.708-.708L7.293 8 4.646 5.354a.5.5 0 0 1 0-.708z'/%3E%3C/svg%3E");
}

.cs-search-input:focus{
  background-color: var(--primary-color);
  box-shadow:  0 0 10px rgba(255, 255, 255, 0.6);
}

input[type=submit]{
  width: 15%;
}

#section-footer {
  background-color: #f2f2f2;
  color: #888888;
}

#section-footer a {
  text-decoration: none;
  cursor: pointer;
  color: #888888;
}

#section-footer ul {
  list-style-type: none;
  padding: 0px;
}

#section-footer li {
  margin-top: 1rem;
  margin-bottom: 1rem;
}

#highlight-post {
  height: 500px;
}

.hl-post-date {
  font-weight: bold;
  color: #CDCDCD;
  font-size: 18px;
}

.hl-post-title {
  color: #FFFFFF;
  font-size: 40px;
  font-weight: bold;
  text-decoration: none;
}

@media (max-width: 528px) {
  .inventa-single-post {
    padding-left: 1rem;
    padding-right: 1rem;
  }
}

@media (min-width: 530px) {
  .inventa-single-post {
    padding-left: 20%;
    padding-right: 20%;
  }
}


#related-post-section {
  list-style-type: none;
}

.related-post-label {
  font-size: 18px;
  color: #222222;
}

.related-post-link {
  color: #222222;
  font-size: 14px;
}